PORT=3000
JWT_SECRET=superhemlignyckel
MONGODB_URI=mongodb+srv://Grupp9:MongoDBAtlas@webbshopgrupp9.cvfygcb.mongodb.net/WebbshopGrupp9?appName=WEBBSHOPGrupp9

# MONGODB_URI=mongodb://localhost:27017/DB_NAME


